@charset "utf-8";
/** Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}
/** Basic styling */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}
/** Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 15px;
}
/** Images */
img {
  max-width: 100%;
  vertical-align: middle;
}
/** Figures */
figure > img {
  display: block;
}
figcaption {
  font-size: 14px;
}
/** Lists */
ul,
ol {
  margin-left: 30px;
}
li > ul,
li > ol {
  margin-bottom: 0;
}
/** Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
/** Links */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}
/** Blockquotes */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
/** Code formatting */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}
code {
  padding: 1px 5px;
}
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
/** Wrapper */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}
/** Clearfix */
.wrapper:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/** Icons */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}
/** Site header */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title,
.site-title:visited {
  color: #424242;
}
.site-nav {
  float: right;
  line-height: 56px;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
}
/** Site footer */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}
.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}
.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}
.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}
@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/** Page content */
.page-content {
  padding: 30px 0;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}
.post-meta {
  font-size: 14px;
  color: #828282;
}
.post-link {
  display: block;
  font-size: 24px;
}
/** Posts */
.post-header {
  margin-bottom: 30px;
}
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}
.review {
  /* Tatujin-Publishing   */
  /* Style sheet for epub */
  /* Ver.0.8b1            */
  /*
Scale & Rhythm
line-height 1.6
16px = 1em
x:p:h1:h2:h3 = 12px:14px:16px:24px:30px
*/
  /* Heading */
  /* Paragraph */
  /* List */
  /* Table
p.tablecaptionではなく
table caption {}を使う方が良いかも？
*/
  /* Quote */
  /* Column Block */
  /* Code Block */
  /*
※シンプルにできるかも
div.code {}
div.code pre.list,
div.code pre.cmd {}
div.code p.caption {}
*/
  /* Image Block */
  /* div.image p.caption {}
※captionをそろえた方が良いかも？*/
  /* Footnote Block */
  /* p.footnoteはいらないかも？ */
  /* Colophon */
  /* Inline */
}
.review body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.6;
  font-family: "ShinGoPro-Regular", "ShinGo-Regular", sans-serif;
  /*
  word-break: normal;
  -webkit-line-break: after-white-space;
  */
}
.review p,
.review ul,
.review ol,
.review dl,
.review pre,
.review table {
  font-family: "ShinGo Regular", "ShinGo R", "新ゴR", "新ゴ R", sans-serif;
  font-size: 0.875em;
}
.review h1 {
  text-align: left;
  font-weight: bold;
  margin: 0 0 2em;
  padding: 0.5em 0 0;
  border-top: 14px #009688 solid;
  font-size: 1.875em;
}
.review h2 {
  text-align: left;
  font-weight: bold;
  margin: 3em 0 0.5em;
  padding: 0.5em 0 0;
  border-top: 2px #009688 solid;
  font-size: 1.5em;
}
.review h3 {
  text-align: left;
  font-weight: bold;
  margin: 3em 0 0.5em;
  padding: 0;
  font-size: 1em;
}
.review h4,
.review h5,
.review h6 {
  text-align: left;
  font-weight: bold;
  margin: 0.7em 0;
  padding: 0;
  line-height: 1.6;
}
.review p {
  margin: 0.7em 0;
  padding: 0;
  text-align: left;
  text-indent: 1em;
  line-height: 1.6;
}
.review div.lead p {
  color: #666;
  line-height: 1.6;
  font-size: 0.75em;
}
.review ul,
.review ol {
  margin: 2em 0 2em 2em;
  padding: 0;
  list-style-position: outside;
}
.review ul > li,
.review ol > li {
  margin: 0 0 0.7em 0;
  padding: 0;
  line-height: 1.6;
}
.review dl {
  margin: 2em 0;
  padding: 0;
}
.review dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.review dd {
  margin: 0 0 1em 2em;
  padding: 0;
  line-height: 1.6;
}
.review table {
  margin: 0 auto 2em auto;
  border-collapse: collapse;
}
.review table tr th {
  background-color: #eee;
  border: 1px #aaa solid;
  font-size: 0.75em;
  font-weight: normal;
}
.review table tr td {
  padding: 0.3em;
  border: 1px #aaa solid;
  font-size: 0.75em;
}
.review p.tablecaption,
.review table caption {
  margin: 0;
  color: #666;
  font-size: 0.75em;
  font-weight: bold;
  text-indent: 0;
}
.review blockquote {
  margin: 2em 0 2em 2em;
  padding: 0.3em 1em;
  border: 1px #aaa solid;
}
.review div.column {
  margin: 2em 0 2em 2em;
  padding: 0.3em 1em;
  background-color: #eee;
  -webkit-border-radius: 0.7em;
}
.review div.column * {
  margin: 0.7em 0;
}
.review div.column ul,
.review div.column ol {
  list-style-position: inside;
}
.review div.code,
.review div.caption-code,
.review div.source-code,
.review div.emlist-code,
.review div.emlistnum-code {
  margin: 1em 0 2em 2em;
  padding: 0;
}
.review div p.caption {
  margin: 0;
  color: #666666;
  font-size: 0.75em;
  font-weight: bold;
}
.review div.cmd-code pre.cmd {
  margin: 0;
  padding: 5px;
  color: #cccccc;
  font-weight: bold;
  background-color: #444444;
  -webkit-border-radius: 0.5em;
}
.review pre.emlist,
.review pre.source,
.review pre.list {
  margin: 0;
  padding: 5px;
  border: 1px #aaa solid;
}
.review pre.cmd,
.review pre.emlist,
.review pre.list,
.review pre.source {
  white-space: pre-wrap;
}
.review div.image {
  margin: 2em auto;
  padding: 0;
}
.review div.image img {
  margin: 0 auto;
  padding: 0;
  display: block;
}
.review div.image p.caption {
  margin: 0 auto;
  text-align: center;
  color: #666;
  font-size: 0.75em;
  font-weight: bold;
  text-indent: 0;
}
.review div.footnote p.footnote {
  color: #666666;
  line-height: 1.6;
  font-size: 0.75em;
  text-indent: 0;
}
.review div.colophon {
  margin: 3em auto;
}
.review div.colophon p {
  text-indent: 0;
}
.review div.colophon p.title {
  font-size: 1.5em;
}
.review div.colophon table {
  margin: 1em 0 2em;
  border: none;
}
.review div.colophon table tr th {
  background-color: #fff;
  font-size: 1.2em;
  font-weight: normal;
  border: none;
}
.review div.colophon table tr td {
  font-size: 1.2em;
  font-weight: normal;
  border: none;
}
.review a[href],
.review a:link,
.review a:visited {
  border-bottom: 1px dotted #531084;
  text-decoration: none;
}
.review a[id] {
  border-bottom: 0px;
}
.review a.prev {
  float: left;
}
.review a.next {
  float: right;
}
.review b {
  font-weight: bold;
}
.review strong {
  font-weight: bold;
}
.review em {
  font-style: italic;
}
.review .header-link {
  padding-right: 0.4em;
}
